# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Misc
.settings/language.settings.xml

# Output folders
/EXP3HC-v0.9/
/EXP3HC-v0.9-Debug/
/EXP3HC-v0.9-debug-with-bootloader/
/EXP3HC-v0.9-release-no-bootloader/
/TOOL1LC-v0.6/
/TOOL1LC-v0.6-Debug/
/TOOL1XD-v0.4/
/TOOL1XD-v0.4-Debug/
