[submodule "libraries/CANlib"]
	path = libraries/CANlib
	url = https://github.com/Duet3D/CANlib.git
	branch = .
[submodule "libraries/CoreN2G"]
	path = libraries/CoreN2G
	url = https://github.com/Duet3D/CoreN2G.git
	branch = .
[submodule "libraries/FreeRTOS"]
	path = libraries/FreeRTOS
	url = https://github.com/Duet3D/FreeRTOS.git
	branch = .
[submodule "libraries/RRFLibraries"]
	path = libraries/RRFLibraries
	url = https://github.com/Duet3D/RRFLibraries.git
	branch = .
[submodule "libraries/Qfplib-M0-full"]
	path = libraries/Qfplib-M0-full
	url = git@github.com:Duet3D/Qfplib-M0-full.git
